body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 64px - 70px);
  padding: 1.5rem 0;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 15px;
  /* display: flex;
  flex-wrap: wrap;
  flex: 0 1 25%;
  justify-content: space-between; */
}

.card-title {
  text-shadow: rgb(255, 208, 0) 1px 1px 10px;
  color: rgb(255, 208, 0) !important;
}

.movie {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 15px;
}